In [5]:
import pandas as pd

In [6]:
path_to_file = '/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-sedelkin/practice/data/5_data.csv.zip'

In [8]:
retail = pd.read_csv(path_to_file, compression='zip', encoding='ISO-8859-1')
retail_columns = retail.columns
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [23]:
# Calculate number of duplicates, remove them
retail_duplicates = retail.duplicated()
retail_duplicates_num = retail_duplicates.sum()
retail = retail.drop_duplicates().reset_index(drop=True)
retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
536636,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
536637,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
536638,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
536639,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
536640,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [16]:
# Calculate number of canceled orders
retail['InvoiceNo'].str.startswith('C').sum()

9251

In [22]:
retail_multiple_nonzero_orders = retail[retail.Quantity > 0]
retail_multiple_nonzero_orders

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
536636,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
536637,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
536638,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
536639,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
536640,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [42]:
# Посчитайте число заказов для каждого пользователя (CustomerID) из Германии (Germany). 
# Оставьте только тех, кто совершил более N транзакций (InvoiceNo), где N – 80% процентиль. 
# Запишите полученные id пользователей в germany_top (не весь датафрейм, только id).

# Отфильтрованные данные записаны в retail. Идентификатор заказа – InvoiceNo. 
# Для каждого заказа в данных может встречаться более 1 строки.

germany_customers = retail[retail.Country == 'Germany'] \
    .groupby(['CustomerID'], as_index=False) \
    .agg({'InvoiceNo': 'nunique'}) \
    .sort_values(by='InvoiceNo', ascending=False)

germany_top = germany_customers[germany_customers.InvoiceNo > germany_customers.InvoiceNo.quantile(q=0.8)] \
    .CustomerID.reset_index(drop=True)

germany_top

0     12471.0
1     12569.0
2     12474.0
3     12720.0
4     12709.0
5     12621.0
6     12476.0
7     12712.0
8     12708.0
9     12705.0
10    12500.0
11    12472.0
12    12626.0
13    12619.0
14    12647.0
15    12662.0
16    12600.0
17    12481.0
Name: CustomerID, dtype: float64

In [46]:
# Используя объект с id пользователей (germany_top), полученный на предыдущем шаге, 
# отфильтруйте наблюдения и оставьте в данных записи только по интересующим нас юзерам. 
# Результирующий датафрейм запишите в top_retail_germany.

top_retail_germany = retail[retail.CustomerID.isin(germany_top)]
top_retail_germany

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1084,536527,22809,SET OF 6 T-LIGHTS SANTA,6,12/1/2010 13:04,2.95,12662.0,Germany
1085,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,12/1/2010 13:04,2.55,12662.0,Germany
1086,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,12/1/2010 13:04,0.85,12662.0,Germany
1087,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,12/1/2010 13:04,1.65,12662.0,Germany
1088,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,12/1/2010 13:04,1.95,12662.0,Germany
...,...,...,...,...,...,...,...,...
536458,581570,22139,RETROSPOT TEA SET CERAMIC 11 PC,3,12/9/2011 11:59,4.95,12662.0,Germany
536459,581570,23077,DOUGHNUT LIP GLOSS,20,12/9/2011 11:59,1.25,12662.0,Germany
536460,581570,20750,RED RETROSPOT MINI CASES,2,12/9/2011 11:59,7.95,12662.0,Germany
536461,581570,22505,MEMO BOARD COTTAGE DESIGN,4,12/9/2011 11:59,4.95,12662.0,Germany
536462,581570,POST,POSTAGE,1,12/9/2011 11:59,18.00,12662.0,Germany

In [49]:
# Сгруппируйте top_retail_germany по коду товара (StockCode). 
# Какой из продуктов добавляли в корзину чаще всего, кроме POST? 

# Note: одним заказом считается единовременная покупка любого количества товара, т.е. без учета Quantity.

top_retail_germany.groupby('StockCode', as_index=False).agg({'InvoiceNo': 'count'}).sort_values(by='InvoiceNo', ascending=False)

     StockCode  InvoiceNo
1167      POST        219
409      22326         62
452      22423         55
411      22328         45
474      22467         37
...        ...        ...
743      23008          1
739      22999          1
44       20717          1
333      22119          1
656      22821          1

[1168 rows x 2 columns]

In [52]:
# Вернемся к анализу полного датасета retail. 
# Создайте колонку Revenue с суммой покупки, используя колонки Quantity и UnitPrice.

retail = retail.assign(Revenue = retail.Quantity * retail.UnitPrice)
retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
536636,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France,10.20
536637,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France,12.60
536638,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France,16.60
536639,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France,16.60
536640,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France,14.85

In [67]:
# Для каждой транзакции (InvoiceNo), посчитайте финальную сумму заказа. В качестве ответа укажите топ-5 (InvoiceNo) по сумме заказа 
# (через запятую с пробелом и в порядке убывания TotalRevenue)

orders_by_revenue = retail.groupby('InvoiceNo', as_index = False) \
    .agg({'Revenue': 'sum'}) \
    .sort_values(by='Revenue', ascending=False) \
    .reset_index(drop=True)

top_orders = [i for i in orders_by_revenue.InvoiceNo[:5].astype(int)]
top_orders

[581483, 541431, 574941, 576365, 556444]